*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./145-1452134_frame-design-png-transparent-png.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center
    
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&display=swap');

.container{
    position: relative;
    height: 60vh;
    width: 40%;
    padding: 0 4rem;
    border: black;
    padding: 4rem;
    color: black;
    font-size: bold;
    background-image: url(./145-1452134_frame-design-png-transparent-png.png);
    background-size: cover;
    background-position: center;
    font-family: 'Caveat', cursive;
    font-size: 0.9rem;
    font-style: italic;
    
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
span{
    text-align: center;
}
p{
    margin-top: 5rem;
    text-align: center;
}
h2{
    font-size: 0.9rem;
    font-style: italic;
}
button{
    padding: 0.8rem;
    border: none;
    outline: none;
    text-align: center;
    margin-left: 7.5rem;
    color: black;
    box-shadow: 4px 2px 4px grey;

    background-color: transparent;
}
@media screen and (max-width:768px) {
    .container{
    position: relative;
    height: 60vh;
    width: 90%;
    padding: 0 4rem;
    background-color: aliceblue;
    font-weight: bolder;
    padding: 4rem;
    background-image: url(./145-1452134_frame-design-png-transparent-png.png);
    background-size: cover;
    background-position: center;
    color: black;
    font-size: bold;
    font-family: 'Caveat', cursive;
    font-size: 14px;
    font-style: italic;}


    button{
        margin-bottom: 2rem;
    padding: 0.4rem 2rem;
    border: none;
    outline: none;
    margin-left: 0.2rem;
    color: black;
    box-shadow: 4px 2px 4px grey;
    background-color: transparent;
}
body{
    background-color: black;
}
}